<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmication</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        function toggleExtraLocalities() {
            const extraLocalities = document.querySelector('.extra-localities');
            const seeMore = document.querySelector('.see-more');
            const seeLess = document.querySelector('.see-less');
            
            if (extraLocalities.classList.contains('show')) {
                extraLocalities.classList.remove('show');
                seeMore.style.display = 'flex';
                seeLess.style.display = 'none';
            } else {
                extraLocalities.classList.add('show');
                seeMore.style.display = 'none';
                seeLess.style.display = 'flex';
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
        const elements = document.querySelectorAll('.fade-in');

        function checkVisibility() {
        elements.forEach(el => {
            const rect = el.getBoundingClientRect();
            if (rect.top < window.innerHeight - 50) {
                el.classList.add('show');
            }
        });
    }

    window.addEventListener('scroll', checkVisibility);
    checkVisibility(); // Run once on page load
});

    </script>
</head>
<body>
    
    <header class="mainheading">
        <h1 class="heading">Farming Education</h1>
        <!-- <img src="/static/images/logo1.png" alt=""> -->
        <input type="text" placeholder="Search for reigon, crop, soil...">
    </header>
    <nav class="sticky-nav">
        <ul>
            <li><a href="#">Home</a></li> 
            <li><a href="#maincrop">Crops</a></li> 
            <li><a href="#mainsoil">Soil</a></li> 
            <li><a href="#mainstate">Region</a></li> 
            <li><a href="#mainfooter">Contact</a></li>
        </ul>
    </nav>
    
    <section class="hero fade-in">
        <h2>Discover the best farming</h2>
    </section>
    <div class="cont">

    <section class="popular-localities" id = "mainsoil">
        <h2 class="abc">Select By Soil Type</h2>
        <div class="locality-container">
            <div class="locality soil" onclick="this.classList.add('bounce')"> <h3>Alluvial Soil</h3><p class="regional-name">उजलोढ़ मिट्टी</p><img src="/static/images/Soil/Alluvial (1).jpg" alt="Image"></div>
            <div class="locality soil" onclick="this.classList.add('bounce')"> <h3>Black Soil</h3><p class="regional-name">काली मिट्टी/रेगुर</p><img src="/static/images/Soil/Black (1).jpg" alt="Image"></div>
            <div class="locality soil" onclick="this.classList.add('bounce')"> <h3>Clay Soil</h3><p class="regional-name">करैली मिट्टी</p><img src="/static/images/Soil/Clay (1).jpg" alt="Image"></div>
            <div class="locality soil" onclick="this.classList.add('bounce')"> <h3>Red Soil</h3><p class="regional-name">लाल मिट्टी</p><img src="/static/images/Soil/Red (1).jpg" alt="Image"></div>
        </div>
        </section>
    </div>
    <div class="cont" id = "mainstate">
    <section class="popular-localities">
        <h2 class="abc">Select By Reigon/State</h2>
        <div class="locality-container">
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Uttar Pradesh</h3><p class="regional-name">उत्तर प्रदेश</p><img src="/static/images/States/26Uttarpradesh.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Punjab</h3><p class="regional-name">ਪੰਜਾਬ</p><img src="/static/images/States/20Punjab.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Gujrat</h3><p class="regional-name">ગુજરાત</p><img src="/static/images/States/07Gujrat.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Haryana</h3><p class="regional-name">हरियाणा</p><img src="/static/images/States/08Haryana.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>West Bengal</h3><p class="regional-name">পশ্চিমবঙ্গ</p><img src="/static/images/States/28WestBengal.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Madhya Pradesh</h3><p class="regional-name">मध्यप्रदेश</p><img src="/static/images/States/13Madhya.avif" alt="Image"></div>
        </div>
        <div class="see-more" onclick="toggleExtraLocalities()">See More ▼</div>
        <div class="extra-localities">
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Andhra Pradesh</h3><p class="regional-name">ఆంధ్ర ప్రదేశ్</p><img src="/static/images/States/01Andhra.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Arunachal Pradesh</h3><p class="regional-name">अरुणाचल प्रदेश</p><img src="/static/images/States/02Arunachal.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Assam</h3><p class="regional-name">অসম</p><img src="/static/images/States/03Assam.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Bihar</h3><p class="regional-name">बिहार</p><img src="/static/images/States/04Bihar.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Chhattisgarh</h3><p class="regional-name">छत्तीसगढ़</p><img src="/static/images/States/05Chattisgarh.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Goa</h3><p class="regional-name">गोंय</p><img src="/static/images/States/06Goa.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Himachal Pradesh</h3><p class="regional-name">हिमाचल प्रदेश</p><img src="/static/images/States/09Himachal.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Jharkhand</h3><p class="regional-name">झारखंड</p><img src="/static/images/States/10Jharkhand.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Karnataka</h3><p class="regional-name">ಕರ್ನಾಟಕ </p><img src="/static/images/States/11Karnataka.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Kerala</h3><p class="regional-name">കേരളം</p><img src="/static/images/States/12Kerala.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Maharastra</h3><p class="regional-name">महाराष्ट्र</p><img src="/static/images/States/14Maharastra.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Manipur</h3><p class="regional-name">মণিপুর</p><img src="/static/images/States/15Manipur.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Meghalaya</h3><p class="regional-name">মেঘালয়</p><img src="/static/images/States/16Mehghalaya.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Mizoram</h3><p class="regional-name">Mizo ṭawng</p><img src="/static/images/States/17Mizoram.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Nagaland</h3><p class="regional-name">Nagamese</p><img src="/static/images/States/18Nagaland.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Odisha</h3><p class="regional-name">ଓଡ଼ିଶା</p><img src="/static/images/States/19Odisha.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Rajasthan</h3><p class="regional-name">राजस्थान</p><img src="/static/images/States/21Rajasthan.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Sikkim</h3><p class="regional-name">सिक्किम</p><img src="/static/images/States/22Sikkim.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Tamil Nadu</h3><p class="regional-name">தமிழ்நாடு</p><img src="/static/images/States/23Tamil.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Telangana</h3><p class="regional-name">తెలంగాణ</p><img src="/static/images/States/24Telengana.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Tripura</h3><p class="regional-name">ত্রিপুরা</p><img src="/static/images/States/25Tripura.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Uttarakhand</h3><p class="regional-name">उत्तराखण्ड</p><img src="/static/images/States/27Uttarakhand.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Jammu Kashmir</h3><p class="regional-name">جموں و کشمیر</p><img src="/static/images/States/29JK.avif" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Delhi</h3><p class="regional-name">दिल्ली</p><img src="/static/images/States/30Delhi.avif" alt="Image"></div>
            <div class="see-less" onclick="toggleExtraLocalities()" style="display: none;">See Less ▲</div>
        </div>
    </section>
 </div>

    <div class="cont" id = "maincrop">
    <section class="popular-localities">
        <h2 class="abc">Select By Crop</h2>
        <div class="locality-container">
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Paddy</h3><p class="regional-name">धान</p><img src="/static/images/Crops/rice.jpg" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Pulses</h3><p class="regional-name">दालें</p><img src="/static/images/Crops/pulse (1).jpg" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Cotton</h3><p class="regional-name">कपास</p><img src="/static/images/Crops/cotton (1).jpg" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Jute</h3><p class="regional-name">जूट</p><img src="/static/images/Crops/Jute-fiber (1).jpg" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Wheat</h3><p class="regional-name">गेहूं</p><img src="/static/images/Crops/wheat (1).jpg" alt="Image"></div>
            <div class="locality" onclick="this.classList.add('bounce')"> <h3>Sugarcane</h3><p class="regional-name">गन्ना</p><img src="/static/images/Crops/sugercane (1).jpg" alt="Image"></div>
        </div>
    </section>
</div>
<footer id = "mainfooter">
    <div class="footer-container">
        <div class="footer-left">
            <img src="/static/images/logo.jpg" alt="Logo">
        </div>
        <div class="footer-right">
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
            <a href="#">Know More</a>
            <a href="#">Support</a>
        </div>
    </div>
</footer>


<div class="fixed-image">
    <button class="uploadBtn" id="uploadBtn">
        <img src="/static/images/camera.png" alt="Floating Icon">
    </button>
    <input type="file" id="fileInput" style="display: none;" />
</div>
<script src="/static/js/script.js"></script>
</body>
</html>
